body {
  font-family: 'PT Sans', sans-serif;
  color: #FFD43B;
  background-color: #306998;
}

a:link, a:visited {
  background-color: #4B8BBE;
  color: #FFE873;
  border: 2px solid #646464;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #646464;
  color: #FFE873;
  border: 2px solid #646464;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}


.pageButton {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}
